body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.gm-pickgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}

.gm-pickgame-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.gm-pickgame-selection div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 150px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 15px;
  transition: border-color 0.25s;
}

.gm-pickgame-selection div:hover {
  border: 2px solid #646cff;
}

.selected {
  background-color: #646cff;
}

.gm-pickgame-button {
  margin-top: 20px;
  align-self: center;
}

.gm-playgame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gm-playgame-button {
  margin: 20px 10px;
}


